@media  (max-width: 1200px) {
    .container, .header-container, .hero-container, .social-media-container, .pricing-container,
    .feedback-section-container, .download-section-container, .contact-us-container,
    .container-footer {
        max-width: 1140px;
    }
    .feedback-section-card {
        justify-content: center;
    flex-wrap: wrap;
    }
    .feedback-section-item {
        margin-bottom: 3.75rem;

    }
    .pricing-item {
        margin-bottom: 25px;
    }
    .pricing-item:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 1090px) {
    .contact-us__main-wrapper {
        justify-content: center;
            display: block;
            width: 70%;
            margin: 0 auto;
        
    }
}

@media  (max-width: 992px) {
    .container, .header-container, .hero-container, .social-media-container, .pricing-container,
    .feedback-section-container, .download-section-container, .contact-us-container,
    .container-footer {
        max-width: 960px;
    }
   
    .tab-main-wrapper {
   
        align-items: flex-start;
        flex-direction: column;
}
.tab-item-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    }

.tab-main-content {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 1 1 0;

    }

.tab-item {
    margin: 0 1px 0 0;
}
.tab-item:last-child {
    margin: 0;
}
}


@media  (max-width: 768px) {
    .container, .header-container, .hero-container, .social-media-container, .pricing-container,
    .feedback-section-container, .download-section-container, .contact-us-container,
    .container-footer {
        max-width: 720px;
    }
    .tab-inner-image {
        display: none;
    }
}

@media  (max-width: 576px) {
    .container, .header-container, .hero-container, .social-media-container, .pricing-container,
    .feedback-section-container, .download-section-container, .contact-us-container,
    .container-footer {
        max-width: 540px;
    }
    .flexbox-awesome__container-card {
        display: block;
}

}
/* @media  (max-width: 1185px) {
    .pricing-item  {
    
        margin-bottom: 2rem;

    }
    
    

} */

@media  (max-width: 1101px) {
.contact-us-contact-form {
    display: block;
}
.textera-item-adaptive {
    display: inline-block;
}
.contact-us-texterea-wrapper {

    display: none;
}

}

@media  (max-width: 529px) {
    .social-media-container {
        flex-wrap: wrap;
    }
    .social-media-text {
        margin-bottom: 20px;
        ;
    }

}

@media  (max-width: 597px) {
    .header-logo {
margin-bottom: 20px;    }
}



@media  (max-width: 910px) {
    .hero-container {
    display: block;
    flex: 0;
    }

    .hero-main-content-wrapper {
        flex-wrap: wrap;
        display: block !important;
    }
    .hero-main-content {
        width: 512px;
        margin-bottom: 60px;
    }

    .hero_contact-form-wrapper {
        display: flex;
        justify-content: center;
    }

    .hero_contact-form {
        width: 80vw;
    }

    .hero-input  {
        width: 70vw;
    }

    .hero-main-content {
        width: 80vw;
        display: flex;
        flex-direction: column;  
     }

      
}

@media  (max-width: 849px) {
    .feedback-section-card {
    justify-content: space-evenly;
    }
}



@media (max-width: 1245px) {
    .flexbox-awesome__container-card {
        flex-wrap: wrap;
    }
    .card-item {

        margin-bottom: 3rem;

    } 
}


/* @media (max-width: 781px) {
    .hero-main-content-wrapper {
        display: block !important;
    }
    .hero-title {
text-align: center;
    }

    .hero-description {
        text-align: center;
    }

    .hero-main-content {
        flex: 0 1 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

    }
    .hero-title:after {
        content: '';
        width: 74px;
        height: 2px;
        background: #ffffff;
        position: relative;
        top: 30px;
        display: block;
        margin: 0 auto;
    
    }
}  */