* {
    box-sizing: border-box;

}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.header-top-section {
    width: 100%;
    padding: 23px 0 22px 0;
    background-color: #000000;
}

.header-logo {
    width: 79px;
    height: 27px;
}

.header-container {
    margin:  0 auto;
    max-width: 1170px;
    padding: 0 15px;
    
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    opacity: 0.69;
color: #ffffff;
font-family: "Open Sans - Semibold";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: right;

}
.top-nav-item {
    margin: 0 23px;
}


/* Hero Section */

.hero-section {
    min-height: calc(100vh - 72px);
    position: relative;
    width: 100%;
    background: no-repeat center url('../images/hero.png');
    background-size: cover;
    padding: 30px 0;
    display: flex;

}

.hero-section:before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.52);


}

.hero-container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;

}

.hero-main-content-wrapper {
    width: 100%;
    display: flex;
  justify-content: space-between;
}

.hero-main-content {
    width: 512px;
    
}

.hero-logo {
    width: 175px;
    height: 60px;
}


.hero-title {
    color: #ffffff;
font-family: Raleway;
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
margin: 33px 0 68px 0;

}

.hero-description {

opacity: 0.8;
color: #ffffff;
font-family: Raleway;
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 23px;
text-align: left;

}

/* Social MEdia Header */

.social-media-section {
    width: 100%;
    background-color: #fff;
    padding: 22px 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}

.social-media-text {
    width: 333px;
}



.header_icons-wrapper {
    width: 636px;
}

.list-social {
    display: flex;
    justify-content: space-between;

}

.header_icon-social {
font-size: 48px;
font-family: "FontAwesome";
color: rgb(204, 204, 204);
text-align: left;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}


/* Awseme section */


.flexbox-awesome {
    width: 100%;
    background-color: #fff;
    padding-bottom: 95px;

}   
.container {
    margin: 108px auto 0;
    max-width: 1170px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}



.social-media-container {
    margin:  0 auto;
    max-width: 1140px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}


.flexbox-awesome__container-title {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: 60px;

}


.flexbox-awesome__container-text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
}

.flexbox-awesome__container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px -20px 0;
    align-items: flex-end;

}

.card-item {
    width: 350px;
    margin: 0 16px;    
}


.card-item-content-icon {
    width: 70px;
    height: 70px;
    border: 3px solid #ff8b38;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    

}

/* Title-Desc for Header Social media */
.card-item-content-title, .social-media-title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 29px;
}

.social-media-title {
    margin: 0;
    text-align: left;


}

.social-media-title {
    text-align: left;

}



.card-item-content-description, .social-media-description {
    margin-top: 25px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
}

.social-media-description  {
    margin: 0;
    text-align: left;
}

/* Pricing Section */

.pricing-section {
    background-color: #f5f5f5;
}


.pricing-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;

}

.pricing-container-title {
    margin-top: 108px;
    margin-bottom: 60px;

}


.pricing-item {
    width: 343px;
    margin: 0 20px;    
}


.pricing-item-content {
padding: 0;

}

.pricing-content-list {
display: flex;
flex-direction: column;


}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.list-title {
    height: 59px;
    background-color: #212121;

    

}

.list-title-element {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;

}



.list-price {

/* height: 100px; */
background-color: #212121;
border-top: 1px solid #f5f5f5;
border-bottom: 1px solid #f5f5f5;

}

.list-price-element {

    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.1;
    text-align: center;
    
}

.list-price-element {
    position: relative;
    top: 5px;
}

#price-professional {
    position: relative;
    top: 13px;

}

#price-enterprise {
    position: relative;
    top: 13px;
}


.dollar {

font-size: 35px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
color: #ffffff;
font-family: Raleway;
font-weight: 700;
position: relative;
top: 23px;
}




.list-period {
    height: 51px;
    background-color: #212121;
    text-transform: capitalize;
}

.list-period-element {

color: #86878b;
font-family: "Open Sans - Semibold";
font-size: 14px;
font-weight: 400;
font-style: italic;
}


.list-highlight {

min-height: 5px;
background-color: #ff8b38;
color: #ffffff;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
font-style: normal;
text-transform: uppercase;

}

.list-highlight-element {
    color: #ffffff;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: center;
text-transform: uppercase;
}

.list-description {
    background-color: #ffffff;
    height: 40px;
    border-bottom: 1px solid #f5f5f5;

}


.list-description-element {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

/* Feedback section */




.feedback-section {
    width: 100%;
    padding-bottom: 101px;
}


.feedback-section-title {
    color: #212121;
font-family: Raleway;
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 43px;
text-align: center;
text-transform: uppercase;
margin-bottom: 60px;

}

.divider:after {
    content: '';
    width: 64px;
    height: 2px;
    background: #ff8b38;
    position: relative;
    top: 30px;
    display: block;
    margin: 0 auto;

}



.feedback-section-text {
color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 20px;
}

.feedback-section-card {
    margin: 55px -60px 0;
    display: flex;
    justify-content: space-evenly;
}

.feedback-section-item {
    flex: 0 0 273px;
    margin: 0 60px;
    /* width: 273px;
    margin: 0 120px 0 0; */
}

.feedback-text {
    display: block;
color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: italic;
letter-spacing: normal;
line-height: normal;
background-color: #f5f5f5;
padding: 24px 13px 15px 12px;
margin-bottom: 18px;
}

.feedback-text:after {
    content: '';
    width: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #f5f5f5;
    position: relative;
    display: block;
    top: 25px;
    left: 15px;
}

.client-card {
    display: flex;

}

.client-avatar {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.client-data {
    flex-direction: column;
    justify-content: center;


}.client-name {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}


.client-post {
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
}

/* Download Section */

.download-section {
    width: 100%;
    background: center  url('../images/background.png');
    background-size: cover;
    position: relative;
}
.download-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;

}
.download-section-container {
    
    max-width: 1170px;
    padding: 74px 15px 63px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.download-section-title  {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;

    

}


.download-section-title:after, .hero-title:after {
    content: '';
    width: 74px;
    height: 2px;
    background: #ffffff;
    position: relative;
    top: 30px;
    display: block;
    /* margin: 0 auto; */

}



.download-section-text {

    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.download-btn {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
width: 135px;
height: 42px;
border: 2px solid #ffffff;
text-decoration: none;
margin-top: 48px;
background: transparent;
transition: all 0.3s ease-out;
outline: none; 
position: relative;
}

.hero-btn {
    margin-top: 44px;

}
.download-btn:hover {
    width: 160px;
    /* height: 50px;  */
    border-radius: 10px 3px;
    font-size: 20px;
}

.download-btn:hover:active {
    background-color: rgb(255, 139, 56, 0.2);
    font-size: 22px;
}

/* Footer */



.footer {
    width: 100%;
    background-color: #000000;
    padding: 38px 0 15px 0;


}

.container-footer {
    max-width: 1170px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.icons-wrapper {
    width: 317px;
}

.list-social {
    display: flex;
    justify-content: space-between;

}

.icon-social {
    color: #cccccc;
font-family: "Font Awesome";
font-size: 24px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
}


.copiright-text {
opacity: 0.5;
color: #ffffff;
font-family: "Open Sans";
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
margin-top: 15px;
}



